h3 h4{border-collapse:collapse;border-spacing:0;font-weight:bold;}
#body{height:3000px;width:1348px;margin:-8px;padding:0;overflow:hidden;}
#body h3 {font-size:44px;line-height:55px;color:#555;letter-spacing:4px;}
#body h4 {font-size:44px;line-height:55px;color:#555;letter-spacing:4px;}
#navwrap{height:80px;width:1355px;background:url("../Images/navwrap.png");margin-top:0;float:left;opacity:0.75;}
#logowrap{float:left;display:block;width:245px;height:80px;}
#logo{height:80px; width:130px;background:url("/Images/logo.png") no-repeat;float:left;}
#homepage{display:block;color:green;list-style: none;font-family: '微软雅黑';font-size:30px;text-align:left;line-height:80px;float:left;height:80px;width:115px;font-style:center;}
#navigation{margin-left:65px;height:80px;width:891px;float:left;}
#navitem{display:block;float:left;margin-top:0;}
#navitem li{list-style:none;display:block;float:left;height:80px;width:201px;text-align:center;line-height:80px;font-family:"微软雅黑";font-size:35px;}
#navitem a{color:#fdc;text-decoration:none;}
#navitem a:hover{color:#fdc;}
#first_li{background:url("/Images/nav.png");}
#download{height:568px;width:1355px;border:0;padding:0;background:url("/Images/hdbg.png") no-repeat; float:left;}
#picture{height:530px;width:454px;background:url("/Images/picture.png")  no-repeat;position:relative;left:200px;top:30px;float:left;}
#description{height: 530px;width:570px;background:url("../Images/content.png");position:relative;left:700px;}
.seven_button{height:90px;width:90px;border-radius:90px;position:absolute;left:650px;top:450px;}
#download_button{ position:absolute;left:645px;top:445px;height:100px;width:100px;border-radius:100px;background:url("../Images/download.png");float: left;z-index: 100;overflow:hidden;}
#android{background:url("../Images/android.png");float: left;}
#windows_phone{background:url("../Images/wp.png");float: left;}
#ios{background:url("../Images/apple.png");float: left;}
#windows{background:url("../Images/windows.png");float: left;}
#linux{background:url("../Images/linux.png");float: left;}
#mac{background:url("../Images/mac.png");float: left;}
#display p {padding:42px 0 20px;line-height:28px;color:#748686;font-size:16px;border-bottom: 1px solid #cbcbcb;}
#first_floor{height:565px;width:1355px;background:#f4f4f4;float:left;border-top:0;}
#first_floor_description{display:block;float:left;position:relative;top:75px;left:100px;}
#first_floor_image{height:388px;width:690px;background:url("/Images/first_floor_image.jpg");float:left;position:relative;top:80px;left:220px;}
#second_floor{height:565px;width:1355px;background:#fff;float:left;border-top:0;}
#second_floor_image{height:388px;width:690px;background:url("/Images/second_floor_image.jpg");float:left;position:relative;top:75px;left:50px;}
#second_floor_description{float:left;position:relative;left:140px;top:75px;}
#third_floor{height:565px;width:1355px;background:#f4f4f4;float:left;border-top:0;}
#third_floor_description{display:block;float:left;position:relative;top:75px;left:100px;}
#third_floor_image{height:388px;width:690px;background:url("/Images/third_floor_image.jpg");float:left;position:relative;top:80px;left:200px;}
#signature{height:60px;width:1355px;float:left;}
#signature p{font-family:"微软雅黑";font-size:15px;line-height:60px;color:#808080;text-align:center;}